body {
  background-color: rgb(68, 62, 62);
}
.triangle-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 250px; /* Adjust the height as needed for the medium-sized triangle */
  gap: 150px;
  margin-top: 5%;
}
.top-nodes {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 150px;
}

.circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #3498db; /* You can choose your preferred color */
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.base-node {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 150px;
}
.icon-1 {
  animation: moveAtoB 5s linear;
  z-index: 99;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes moveAtoB {
  0% {
    transform: translate(0, 0) rotate(0);
    opacity: 1;
    visibility: visible;
  }
  25% {
    transform: translate(90px, -50px) rotate(22.5deg);
  }
  50% {
    transform: translate(120px, -50px) rotate(67.5deg);
  }
  75% {
    transform: translate(160px, -30px) rotate(67.5deg);
  }
  100% {
    transform: translate(180px, 0) rotate(90deg);
    visibility: hidden;
  }
}
.icon-2 {
       animation: moveBtoC 5s linear;
       z-index: 99;
       animation-iteration-count: 1;
       animation-fill-mode: forwards;
     }